openapi: 3.2.0
info:
  version: 11.24.0
  title: Margin Requirements API
  description: allows a client to fetch margin-requirements for positions and orders
servers:
- url: https://api.tastyworks.com
tags:
- name: margin-requirements
  description: allows a client to fetch margin-requirements for positions and orders
paths:
  /margin/accounts/{account_number}/requirements:
    get:
      description: Fetch current margin/captial requirements report for an account
      parameters:
      - in: path
        name: account_number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieve account margin/capital requirements report
      tags:
      - margin-requirements
      operationId: getMarginAccountsAccountNumberRequirements
      summary: Get margin accounts account number requirements
      x-summary-source: derived
  /margin/accounts/{account_number}/dry-run:
    post:
      description: Estimate margin requirements for an order given an account
      parameters:
      - in: path
        name: account_number
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieve account margin/capital requirements report
      tags:
      - margin-requirements
      operationId: createMarginAccountsAccountNumberDryRun
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - order-type
              - time-in-force
              - account-number
              - underlying-symbol
              properties:
                account-number:
                  type: string
                underlying-symbol:
                  type: string
                order-type:
                  type: string
                time-in-force:
                  type: string
                gtc-date:
                  type: string
                  format: date
                price:
                  type: string
                  format: numeric
                price-effect:
                  type: string
                  enum:
                  - Credit
                  - Debit
                stop-trigger:
                  type: string
                  format: numeric
                replaces-order-id:
                  type: string
                  format: numeric
                legs:
                  type: array
                  minItems: 1
                  maxItems: 4
                  uniqueItems: true
                  items:
                    type: object
                    required:
                    - symbol
                    - instrument-type
                    - action
                    properties:
                      symbol:
                        type: string
                      instrument-type:
                        type: string
                      quantity:
                        type: string
                        format: numeric
                      action:
                        type: string
                      remaining-quantity:
                        type: string
                        format: numeric
        description: the order to evaluate for margin requirements
      summary: Create margin accounts account number dry run
      x-summary-source: derived
