openapi: 3.2.0
info:
  title: Market Metrics API
  version: 1.9.1
servers:
- url: https://api.tastyworks.com
tags:
- name: Market Metrics
paths:
  /market-metrics:
    get:
      description: Returns an array of volatility data for given symbols.
      parameters:
      - in: query
        name: symbols
        description: Comma separated list of symbols i.e. ?symbols=AAPL,FB,BRK%2FB
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns an array of volatility data for given symbols.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketMetricInfo'
      operationId: getMarketMetricsIndex
      tags:
      - Market Metrics
      summary: Get market metrics index
      x-summary-source: derived
  /market-metrics/historic-corporate-events/dividends/{symbol}:
    get:
      description: Get historical dividend data
      parameters:
      - in: path
        name: symbol
        description: Symbol to get dividends data for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array of historical dividend data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DividendInfo'
      operationId: getMarketMetricsDividendsSymbol
      tags:
      - Market Metrics
      summary: Get market metrics dividends symbol
      x-summary-source: derived
  /market-metrics/historic-corporate-events/earnings-reports/{symbol}:
    get:
      description: Get historical earnings data
      parameters:
      - in: path
        name: symbol
        description: Symbol to get earnings data for
        required: true
        schema:
          type: string
      - in: query
        name: start-date
        description: Limits earnings data from start-date until now
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: end-date
        description: Limits earnings data from start-date until end-date
        required: false
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Array of historical earnings data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EarningsInfo'
      operationId: getMarketMetricsEarningsSymbol
      tags:
      - Market Metrics
      summary: Get market metrics earnings symbol
      x-summary-source: derived
components:
  schemas:
    DividendInfo:
      type: object
      properties:
        occurred-date:
          description: Date of dividend
          type: string
          format: date
        amount:
          description: Per share amount
          type: number
          format: float
    EarningsInfo:
      type: object
      properties:
        occurred-date:
          description: Date of earnings announcement
          type: string
          format: date
        eps:
          description: Earnings per share amount
          type: number
          format: float
    MarketMetricInfo:
      type: object
      properties:
        symbol:
          description: Symbol
          type: string
        implied-volatility-index:
          description: IV Index of underlying
          type: number
          format: float
        implied-volatility-index-5-day-change:
          description: 5 day change of IV index of underlying
          type: number
          format: float
        implied-volatility-rank:
          description: IV Rank of underlying
          type: number
          format: float
        implied-volatility-percentile:
          description: IV percentile of underlying
          type: number
          format: float
        liquidity:
          description: liquidity of underlying
          type: number
          format: float
        liquidity-rank:
          description: liquidity rank of underlying
          type: number
          format: float
        liquidity-rating:
          description: liquidity rating of underlying
          type: number
          format: int32
        option-expiration-implied-volatilities:
          description: List of option volatility data
          type: array
          items:
            type: object
            properties:
              expiration-date:
                description: Option expiration date
                type: string
                format: date-time
              settlement-type:
                description: AM or PM settlement
                type: string
              option-chain-type:
                description: Option chain type i.e. Standard or Non-standard.
                type: string
              implied-volatility:
                description: Implied volatility of option expiration
                type: number
                format: double
      description: Includes underlying volatility and liquidity data as well as option volatility data.
