openapi: 3.2.0
info:
  title: Public Watchlists API
  version: 2.2.0
  description: Allows an API client to fetch tastyworks watchlists.
servers:
- url: https://api.tastyworks.com
tags:
- name: public-watchlists
  description: Allows an API client to fetch tastyworks watchlists.
paths:
  /public-watchlists:
    get:
      description: Returns a list of all tastyworks watchlists
      parameters:
      - in: query
        name: counts-only
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Returns a list of all tastyworks watchlists
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Watchlist'
      tags:
      - public-watchlists
      operationId: getPublicWatchlists
      summary: Get public watchlists
      x-summary-source: derived
  /public-watchlists/{watchlist_name}:
    get:
      description: Returns a requested tastyworks watchlist
      parameters:
      - in: path
        name: watchlist_name
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Returns a requested tastyworks watchlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Watchlist'
      tags:
      - public-watchlists
      operationId: getPublicWatchlistsWatchlistName
      summary: Get public watchlists watchlist name
      x-summary-source: derived
components:
  schemas:
    Watchlist:
      type: object
      properties:
        name:
          description: ''
          type: string
        watchlist-entries:
          description: ''
          type: object
        cms-id:
          description: ''
          type: string
        group-name:
          description: ''
          type: string
        order-index:
          description: ''
          type: integer
          format: int32
      description: Watchlist model
