openapi: 3.2.0
info:
  title: Accounts and Customers API Quote Tokens API
  version: 10.25.1
  description: Operations about api-quote-tokens
servers:
- url: https://api.tastyworks.com
tags:
- name: api-quote-tokens
  description: Operations about api-quote-tokens
paths:
  /api-quote-tokens:
    get:
      description: 'Returns the appropriate API quote streamer endpoint, level and identification token \

        for the current customer to receive market data.'
      responses:
        '200':
          description: "Returns the appropriate API quote streamer endpoint, level and identification token \\\n            for the current customer to receive market data."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteStreamerTokenAuthResult'
      tags:
      - api-quote-tokens
      operationId: getApiQuoteTokens
      summary: Get api quote tokens
      x-summary-source: derived
components:
  schemas:
    QuoteStreamerTokenAuthResult:
      type: object
      properties:
        dxlink-url:
          description: ''
          type: string
        expires-at:
          description: ''
          type: string
          format: date-time
        issued-at:
          description: ''
          type: string
          format: date-time
        level:
          description: ''
          type: string
        token:
          description: ''
          type: string
        websocket-url:
          description: ''
          type: string
      description: QuoteStreamerTokenAuthResult model
