swagger: '2.0'
info:
  title: Account Status accounts market-data-controller API
  version: 7.1.0
  description: Operations about accounts
host: api.tastyworks.com
produces:
- application/json
tags:
- name: market-data-controller
paths:
  /market-data/by-type:
    get:
      tags:
      - market-data-controller
      summary: Get market data for many symbols of type. Combined limit across all types is 100
      operationId: getMarketDataByType
      parameters:
      - name: index
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: equity
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: equity-option
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: future
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: future-option
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      - name: cryptocurrency
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
          default: []
      responses:
        '200':
          description: successful operation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MarketData'
components:
  schemas:
    Instrument:
      type: object
      properties:
        symbol:
          type: string
        instrumentType:
          type: string
          enum:
          - Bond
          - Cryptocurrency
          - Equity
          - Equity Offering
          - Equity Option
          - Fixed Income Security
          - Future
          - Future Option
          - Index
          - Liquidity Pool
          - Mutual Fund
          - Unknown
        instrumentKey:
          $ref: '#/components/schemas/InstrumentKey'
        underlyingInstrument:
          $ref: '#/components/schemas/Instrument'
        rootSymbol:
          type: string
        exchange:
          type: string
          enum:
          - EQUITY
          - SMALLS
          - CME
          - CFE
          - CBOED
          - BOND
          - CRYPTOCURRENCY
          - EQUITY_OFFERING
          - UNKNOWN
    MarketData:
      type: object
      properties:
        symbol:
          type: string
        instrumentType:
          type: string
          enum:
          - Bond
          - Cryptocurrency
          - Equity
          - Equity Offering
          - Equity Option
          - Fixed Income Security
          - Future
          - Future Option
          - Index
          - Liquidity Pool
          - Mutual Fund
          - Unknown
        updatedAt:
          type: string
          format: date-time
        bid:
          type: number
          format: double
        bidSize:
          type: number
          format: double
        ask:
          type: number
          format: double
        askSize:
          type: number
          format: double
        mid:
          type: number
          format: double
        mark:
          type: number
          format: double
        last:
          type: number
          format: double
        lastExt:
          type: number
          format: double
        lastMkt:
          type: number
          format: double
        beta:
          type: number
          format: double
        dividendAmount:
          type: number
          format: double
        dividendFrequency:
          type: number
          format: double
        open:
          type: number
          format: double
        dayHighPrice:
          type: number
          format: double
        dayLowPrice:
          type: number
          format: double
        close:
          type: number
          format: double
        closePriceType:
          type: string
          enum:
          - UNKNOWN
          - REGULAR
          - INDICATIVE
          - PRELIMINARY
          - FINAL
        prevClose:
          type: number
          format: double
        prevClosePriceType:
          type: string
          enum:
          - UNKNOWN
          - REGULAR
          - INDICATIVE
          - PRELIMINARY
          - FINAL
        summaryDate:
          type: string
          format: date
        prevCloseDate:
          type: string
          format: date
        lowLimitPrice:
          type: number
          format: double
        highLimitPrice:
          type: number
          format: double
        tradingHaltedReason:
          type: string
        haltStartTime:
          type: integer
          format: int64
        haltEndTime:
          type: integer
          format: int64
        yearLowPrice:
          type: number
          format: double
        yearHighPrice:
          type: number
          format: double
        volume:
          type: number
          format: double
        tradingHalted:
          type: boolean
        lastTradeTime:
          type: integer
          format: int64
        dayOpen:
          type: number
          format: double
          deprecated: true
        dayHigh:
          type: number
          format: double
          deprecated: true
        dayLow:
          type: number
          format: double
          deprecated: true
        dayClose:
          type: number
          format: double
          deprecated: true
        prevDayClose:
          type: number
          format: double
          deprecated: true
        instrument:
          $ref: '#/components/schemas/Instrument'
    InstrumentKey:
      type: object
      properties:
        symbol:
          type: string
        instrumentType:
          type: string
          enum:
          - Bond
          - Cryptocurrency
          - Equity
          - Equity Offering
          - Equity Option
          - Fixed Income Security
          - Future
          - Future Option
          - Index
          - Liquidity Pool
          - Mutual Fund
          - Unknown
