openapi: 3.2.0
info:
  title: Pairs Watchlists API
  version: 2.2.0
  description: Allows an API client to fetch pairs watchlists.
servers:
- url: https://api.tastyworks.com
tags:
- name: pairs-watchlists
  description: Allows an API client to fetch pairs watchlists.
paths:
  /pairs-watchlists:
    get:
      description: Returns a list of all tastyworks pairs watchlists
      responses:
        '200':
          description: Returns a list of all tastyworks pairs watchlists
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PairsWatchlist'
      tags:
      - pairs-watchlists
      operationId: getPairsWatchlists
      summary: Get pairs watchlists
      x-summary-source: derived
  /pairs-watchlists/{pairs_watchlist_name}:
    get:
      description: Returns a requested tastyworks pairs watchlist
      parameters:
      - in: path
        name: pairs_watchlist_name
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Returns a requested tastyworks pairs watchlist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PairsWatchlist'
      tags:
      - pairs-watchlists
      operationId: getPairsWatchlistsPairsWatchlistName
      summary: Get pairs watchlists pairs watchlist name
      x-summary-source: derived
components:
  schemas:
    PairsWatchlist:
      type: object
      properties:
        name:
          description: ''
          type: string
        pairs-equations:
          description: ''
          type: object
        order-index:
          description: ''
          type: integer
          format: int32
      description: PairsWatchlist model
