swagger: '2.0'
info:
  title: Account Status accounts span API
  version: 7.1.0
  description: Operations about accounts
host: api.tastyworks.com
produces:
- application/json
tags:
- name: span
  description: Operations about spans
paths:
  /span/rows:
    get:
      description: Get span rows for a specific date and exchange
      produces:
      - application/json
      parameters:
      - in: query
        name: date
        description: The date of the SPAN file
        type: string
        format: date
        required: true
      - in: query
        name: exchange
        description: Exchange source of the SPAN file
        type: string
        enum:
        - CME
        - CFE
        required: true
      - in: query
        name: page-offset
        type: integer
        format: int32
        default: 0
        required: false
      - in: query
        name: per-page
        type: integer
        format: int32
        default: 1000
        minimum: 1
        maximum: 50000
        required: false
      responses:
        '200':
          description: Get span rows for a specific date and exchange
          schema:
            type: array
            items:
              $ref: '#/definitions/Row'
      tags:
      - span
      operationId: getSpanRows
definitions:
  Row:
    type: object
    properties:
      file-date:
        description: ''
        type: string
        format: date
      row-index:
        description: ''
        type: integer
        format: int32
      exchange:
        description: ''
        type: string
      row-data:
        description: ''
        type: string
    description: Row model
