openapi: 3.2.0
info:
  title: Account Positions API
  version: 0.0.1
  description: Operations about positions
servers:
- url: https://api.tastyworks.com
tags:
- name: Positions
  description: Operations about positions
paths:
  /accounts/{account_number}/positions:
    get:
      description: 'Returns a list of the account''s positions.

        Can be filtered by symbol, underlying_symbol'
      parameters:
      - in: path
        name: account_number
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: include-closed-positions
        description: If closed positions should be included in the query
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: include-marks
        description: 'Include current quote mark (note: can decrease performance)'
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: instrument-type
        description: The type of Instrument
        required: false
        schema:
          type: string
          enum:
          - Bond
          - Cryptocurrency
          - Currency Pair
          - Equity
          - Equity Offering
          - Equity Option
          - Event Contract
          - Fixed Income Security
          - Future
          - Future Option
          - Index
          - Liquidity Pool
          - Unknown
          - Warrant
      - in: query
        name: net-positions
        description: Returns net positions grouped by instrument type and symbol
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: symbol
        description: "A single symbol. Stock Ticker Symbol `AAPL`, \\\n                                 OCC Option Symbol `AAPL  191004P00275000`, \\\n                                 TW Future Symbol `/ESZ9`, or \\\n                                 TW Future Option Symbol `./ESZ9 EW4U9 190927P2975`"
        required: false
        schema:
          type: string
      - in: query
        name: underlying-product-code
        description: The underlying Future's Product code. i.e `ES`
        required: false
        schema:
          type: string
      - in: query
        name: underlying-symbol
        description: 'An array of Underlying symbol(s) for positions (example: underlying-symbol[]={value1}&underlying-symbol[]={value2})'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: "Returns a list of the account's positions.\n            Can be filtered by symbol, underlying_symbol"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrentPosition'
      tags:
      - Positions
      operationId: getAccountsAccountNumberPositions
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                partition-keys:
                  type: array
                  items:
                    type: string
                  description: 'Account partition keys (example: partition-keys[]={value1}&partition-keys[]={value2})'
      summary: Get accounts account number positions
      x-summary-source: derived
components:
  schemas:
    CurrentPosition:
      type: object
      properties:
        account-number:
          description: ''
          type: string
        instrument-type:
          description: ''
          type: string
        streamer-symbol:
          description: ''
          type: string
        symbol:
          description: ''
          type: string
        underlying-symbol:
          description: ''
          type: string
        quantity:
          description: ''
          type: object
        average-daily-market-close-price:
          description: ''
          type: number
          format: double
        average-open-price:
          description: ''
          type: number
          format: double
        average-yearly-market-close-price:
          description: ''
          type: number
          format: double
        close-price:
          description: ''
          type: number
          format: double
        cost-effect:
          description: ''
          type: string
        is-frozen:
          description: ''
          type: boolean
        is-suppressed:
          description: ''
          type: boolean
        mark:
          description: ''
          type: number
          format: double
        mark-price:
          description: ''
          type: number
          format: double
        multiplier:
          description: ''
          type: number
          format: double
        quantity-direction:
          description: ''
          type: string
        restricted-quantity:
          description: ''
          type: object
        expires-at:
          description: ''
          type: string
          format: date-time
        deliverable-type:
          description: ''
          type: string
        fixing-price:
          description: ''
          type: number
          format: double
        realized-day-gain:
          description: ''
          type: number
          format: double
        realized-day-gain-date:
          description: ''
          type: string
          format: date
        realized-day-gain-effect:
          description: ''
          type: string
        realized-today:
          description: ''
          type: number
          format: double
        realized-today-date:
          description: ''
          type: string
          format: date
        realized-today-effect:
          description: ''
          type: string
        face-value:
          description: ''
          type: number
          format: double
        par-size:
          description: ''
          type: number
          format: double
        created-at:
          description: ''
          type: string
          format: date-time
        updated-at:
          description: ''
          type: string
          format: date-time
        order-id:
          description: ''
          type: integer
          format: int32
        update-type:
          description: ''
          type: string
      description: CurrentPosition model
