openapi: 3.2.0
info:
  title: Market Sessions Market Time API
  version: 2.0.1
  description: Operations about market-times
servers:
- url: https://api.tastyworks.com
tags:
- name: market-time
  description: Operations about market-times
paths:
  /market-time/sessions:
    get:
      description: Retrieve a list of session timings for a date range
      parameters:
      - in: query
        name: from-date
        description: The date to start from
        required: false
        schema:
          type: string
          format: date
          default: '2026-04-15'
      - in: query
        name: instrument-collection
        description: The instrument collection to get sessions for
        required: false
        schema:
          type: string
          enum:
          - Equity
          - CME
          - CFE
          default: Equity
      - in: query
        name: to-date
        description: The date to end at, the difference between from and to date must not exceed 9 months
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Retrieve a list of session timings for a date range
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SimpleSessionDeserializer'
      tags:
      - market-time
      operationId: getMarketTimeSessions
      summary: Get market time sessions
      x-summary-source: derived
  /market-time/sessions/current:
    get:
      description: Retrieve the current session timings for an instrument collection
      parameters:
      - in: query
        name: instrument-collections
        description: 'List of instrument collections . i.e. `CFE`, `CME` or `Equity` (example: instrument-collections[]={value1}&instrument-collections[]={value2})'
        required: true
        schema:
          type: array
          items:
            type: string
            enum:
            - CFE
            - CME
            - Equity
      responses:
        '200':
          description: Retrieve the current session timings for an instrument collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentSessionDeserializer'
      tags:
      - market-time
      operationId: getMarketTimeSessionsCurrent
      summary: Get market time sessions current
      x-summary-source: derived
  /market-time/equities/sessions/current:
    get:
      description: Get current equities session
      parameters:
      - in: query
        name: current-time
        description: The time the current session is based on
        required: false
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Get current equities session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentSession'
      tags:
      - market-time
      operationId: getMarketTimeEquitiesSessionsCurrent
      summary: Get market time equities sessions current
      x-summary-source: derived
  /market-time/equities/sessions/next:
    get:
      description: Get next equities session or session after date
      parameters:
      - in: query
        name: date
        description: Find session on or after this date
        required: false
        schema:
          type: string
          format: date
          default: '2026-04-15'
      responses:
        '200':
          description: Get next equities session or session after date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextSession'
      tags:
      - market-time
      operationId: getMarketTimeEquitiesSessionsNext
      summary: Get market time equities sessions next
      x-summary-source: derived
  /market-time/equities/sessions/previous:
    get:
      description: Get previous session or session before date
      parameters:
      - in: query
        name: date
        description: Find session before this date
        required: false
        schema:
          type: string
          format: date
          default: '2026-04-15'
      responses:
        '200':
          description: Get previous session or session before date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviousSession'
      tags:
      - market-time
      operationId: getMarketTimeEquitiesSessionsPrevious
      summary: Get market time equities sessions previous
      x-summary-source: derived
  /market-time/equities/holidays:
    get:
      description: Get equity holidays
      responses:
        '200':
          description: Get equity holidays
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketCalendarDeserializer'
      tags:
      - market-time
      operationId: getMarketTimeEquitiesHolidays
      summary: Get market time equities holidays
      x-summary-source: derived
  /market-time/futures/sessions/current:
    get:
      description: Get current futures sessions
      responses:
        '200':
          description: Get current futures sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrentSession'
      tags:
      - market-time
      operationId: getMarketTimeFuturesSessionsCurrent
      summary: Get market time futures sessions current
      x-summary-source: derived
  /market-time/futures/sessions/current/{instrument_collection}:
    get:
      description: Get current futures session for exchange
      parameters:
      - in: path
        name: instrument_collection
        description: 'Futures exchange, one of: CFE, CME'
        required: true
        schema:
          type: string
          enum:
          - CFE
          - CME
      responses:
        '200':
          description: Get current futures session for exchange
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentSession'
      tags:
      - market-time
      operationId: getMarketTimeFuturesSessionsCurrentInstrumentCollection
      summary: Get market time futures sessions current instrument collection
      x-summary-source: derived
  /market-time/futures/sessions/next/{instrument_collection}:
    get:
      description: Get next futures session for exchange
      parameters:
      - in: path
        name: instrument_collection
        description: 'Futures exchange, one of: CFE, CME'
        required: true
        schema:
          type: string
          enum:
          - CFE
          - CME
      - in: query
        name: date
        description: Find session on or after this date
        required: false
        schema:
          type: string
          format: date
          default: '2026-04-15'
      responses:
        '200':
          description: Get next futures session for exchange
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NextSession'
      tags:
      - market-time
      operationId: getMarketTimeFuturesSessionsNextInstrumentCollection
      summary: Get market time futures sessions next instrument collection
      x-summary-source: derived
  /market-time/futures/sessions/previous/{instrument_collection}:
    get:
      description: Get previous futures sessions for exchange
      parameters:
      - in: path
        name: instrument_collection
        description: 'Futures exchange, one of: CFE, CME'
        required: true
        schema:
          type: string
          enum:
          - CFE
          - CME
      - in: query
        name: date
        description: Find session before this date
        required: false
        schema:
          type: string
          format: date
          default: '2026-04-15'
      responses:
        '200':
          description: Get previous futures sessions for exchange
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreviousSession'
      tags:
      - market-time
      operationId: getMarketTimeFuturesSessionsPreviousInstrumentCollection
      summary: Get market time futures sessions previous instrument collection
      x-summary-source: derived
  /market-time/futures/holidays/{instrument_collection}:
    get:
      description: Get future holidays for exchange
      parameters:
      - in: path
        name: instrument_collection
        description: 'Futures exchange, one of: CFE, CME'
        required: true
        schema:
          type: string
          enum:
          - CFE
          - CME
      responses:
        '200':
          description: Get future holidays for exchange
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarketCalendarDeserializer'
      tags:
      - market-time
      operationId: getMarketTimeFuturesHolidaysInstrumentCollection
      summary: Get market time futures holidays instrument collection
      x-summary-source: derived
components:
  schemas:
    NextSession:
      type: object
      properties:
        close-at:
          description: ''
          type: string
          format: date-time
        close-at-ext:
          description: ''
          type: string
          format: date-time
        instrument-collection:
          description: ''
          type: string
        open-at:
          description: ''
          type: string
          format: date-time
        session-date:
          description: ''
          type: string
          format: date
        start-at:
          description: ''
          type: string
          format: date-time
      description: NextSession model
    MarketCalendarDeserializer:
      type: object
      properties:
        market-half-days:
          description: ''
          type: object
        market-holidays:
          description: ''
          type: object
      description: MarketCalendarDeserializer model
    SimpleSessionDeserializer:
      type: object
      properties:
        close-at:
          description: ''
          type: string
          format: date-time
        close-at-ext:
          description: ''
          type: string
          format: date-time
        instrument-collection:
          description: ''
          type: string
        open-at:
          description: ''
          type: string
          format: date-time
        start-at:
          description: ''
          type: string
          format: date-time
      description: SimpleSessionDeserializer model
    CurrentSession:
      type: object
      properties:
        close-at:
          description: ''
          type: string
          format: date-time
        close-at-ext:
          description: ''
          type: string
          format: date-time
        instrument-collection:
          description: ''
          type: string
        open-at:
          description: ''
          type: string
          format: date-time
        start-at:
          description: ''
          type: string
          format: date-time
        next-session:
          description: ''
          type: object
          properties:
            close-at:
              description: ''
              type: string
              format: date-time
            close-at-ext:
              description: ''
              type: string
              format: date-time
            instrument-collection:
              description: ''
              type: string
            open-at:
              description: ''
              type: string
              format: date-time
            session-date:
              description: ''
              type: string
              format: date
            start-at:
              description: ''
              type: string
              format: date-time
        previous-session:
          description: ''
          type: object
          properties:
            close-at:
              description: ''
              type: string
              format: date-time
            close-at-ext:
              description: ''
              type: string
              format: date-time
            instrument-collection:
              description: ''
              type: string
            open-at:
              description: ''
              type: string
              format: date-time
            session-date:
              description: ''
              type: string
              format: date
            start-at:
              description: ''
              type: string
              format: date-time
        state:
          description: ''
          type: string
      description: CurrentSession model
    PreviousSession:
      type: object
      properties:
        close-at:
          description: ''
          type: string
          format: date-time
        close-at-ext:
          description: ''
          type: string
          format: date-time
        instrument-collection:
          description: ''
          type: string
        open-at:
          description: ''
          type: string
          format: date-time
        session-date:
          description: ''
          type: string
          format: date
        start-at:
          description: ''
          type: string
          format: date-time
      description: PreviousSession model
    CurrentSessionDeserializer:
      type: object
      properties:
        close-at:
          description: ''
          type: string
          format: date-time
        close-at-ext:
          description: ''
          type: string
          format: date-time
        instrument-collection:
          description: ''
          type: string
        open-at:
          description: ''
          type: string
          format: date-time
        start-at:
          description: ''
          type: string
          format: date-time
        next-session:
          description: ''
          type: object
          properties:
            close-at:
              description: ''
              type: string
              format: date-time
            close-at-ext:
              description: ''
              type: string
              format: date-time
            instrument-collection:
              description: ''
              type: string
            open-at:
              description: ''
              type: string
              format: date-time
            session-date:
              description: ''
              type: string
              format: date
            start-at:
              description: ''
              type: string
              format: date-time
        previous-session:
          description: ''
          type: object
          properties:
            close-at:
              description: ''
              type: string
              format: date-time
            close-at-ext:
              description: ''
              type: string
              format: date-time
            instrument-collection:
              description: ''
              type: string
            open-at:
              description: ''
              type: string
              format: date-time
            session-date:
              description: ''
              type: string
              format: date
            start-at:
              description: ''
              type: string
              format: date-time
        state:
          description: ''
          type: string
      description: CurrentSessionDeserializer model
