openapi: 3.2.0
info:
  title: Risk Parameters Span API
  version: 3.60.0
  description: Operations about spans
servers:
- url: https://api.tastyworks.com
tags:
- name: span
  description: Operations about spans
paths:
  /span/rows:
    get:
      description: Get span rows for a specific date and exchange
      parameters:
      - in: query
        name: date
        description: The date of the SPAN file
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: exchange
        description: Exchange source of the SPAN file
        required: true
        schema:
          type: string
          enum:
          - CME
          - CFE
      - in: query
        name: page-offset
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: per-page
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 50000
          minimum: 1
      responses:
        '200':
          description: Get span rows for a specific date and exchange
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Row'
      tags:
      - span
      operationId: getSpanRows
      summary: Get span rows
      x-summary-source: derived
components:
  schemas:
    Row:
      type: object
      properties:
        file-date:
          description: ''
          type: string
          format: date
        row-index:
          description: ''
          type: integer
          format: int32
        exchange:
          description: ''
          type: string
        row-data:
          description: ''
          type: string
      description: Row model
