openapi: 3.2.0
info:
  title: Quote Alerts API
  version: 1.23.2
  description: Operations about quote-alerts
servers:
- url: https://api.tastyworks.com
tags:
- name: quote-alerts
  description: Operations about quote-alerts
paths:
  /quote-alerts:
    get:
      description: Get quote alerts for current user
      responses:
        '200':
          description: Get quote alerts for current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteAlertDeserializer'
      tags:
      - quote-alerts
      operationId: getQuoteAlerts
      summary: Get quote alerts
      x-summary-source: derived
    post:
      description: Create quote alert for symbol
      responses:
        '201':
          description: Create quote alert for symbol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteAlertDeserializer'
      tags:
      - quote-alerts
      operationId: postQuoteAlerts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postQuoteAlerts'
        required: true
      summary: Post quote alerts
      x-summary-source: derived
  /quote-alerts/{alert_external_id}:
    delete:
      description: Cancel a quote alert for current user
      parameters:
      - in: path
        name: alert_external_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Cancel a quote alert for current user
      tags:
      - quote-alerts
      operationId: deleteQuoteAlertsAlertExternalId
      summary: Delete quote alerts alert external id
      x-summary-source: derived
components:
  schemas:
    QuoteAlertDeserializer:
      type: object
      properties:
        alert-external-id:
          description: ''
          type: string
        completed-at:
          description: ''
          type: string
          format: date-time
        created-at:
          description: ''
          type: string
          format: date-time
        dismissed-at:
          description: ''
          type: string
          format: date-time
        dx-symbol:
          description: ''
          type: string
        expired-at:
          description: ''
          type: string
          format: date-time
        expires-at:
          description: ''
          type: string
        field:
          description: ''
          type: string
        instrument-type:
          description: ''
          type: string
        operator:
          description: ''
          type: string
        provider:
          description: ''
          type: string
        symbol:
          description: ''
          type: string
        threshold:
          description: ''
          type: string
        threshold-numeric:
          description: ''
          type: number
          format: double
        triggered-at:
          description: ''
          type: string
          format: date-time
        user-external-id:
          description: ''
          type: string
      description: QuoteAlertDeserializer model
    postQuoteAlerts:
      type: object
      properties:
        dx-symbol:
          type: string
        expires-at:
          type: string
        field:
          type: string
          enum:
          - Last
          - Bid
          - Ask
          - IV
        instrument-type:
          type: string
        operator:
          type: string
          enum:
          - '>'
          - <
        symbol:
          type: string
        threshold:
          type: string
        threshold-numeric:
          type: string
      required:
      - field
      - operator
      - symbol
      - threshold
      description: Create quote alert for symbol
