openapi: 3.2.0
info:
  title: Instruments API
  version: 0.0.1
  description: Operations about instruments
servers:
- url: https://api.tastyworks.com
tags:
- name: Instruments
  description: Operations about instruments
paths:
  /instruments/cryptocurrencies:
    get:
      description: Retrieve a set of cryptocurrencies given an array of one or more symbols.
      parameters:
      - in: query
        name: symbol
        description: 'Symbol(s) (example: symbol[]={value1}&symbol[]={value2})'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Retrieve a set of cryptocurrencies given an array of one or more symbols.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cryptocurrency'
      tags:
      - Instruments
      operationId: getInstrumentsCryptocurrencies
      summary: Get instruments cryptocurrencies
      x-summary-source: derived
  /instruments/cryptocurrencies/{symbol}:
    get:
      description: Retrieve a cryptocurrency given a symbol.
      parameters:
      - in: path
        name: symbol
        description: Symbol
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieve a cryptocurrency given a symbol.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cryptocurrency'
      tags:
      - Instruments
      operationId: getInstrumentsCryptocurrenciesSymbol
      summary: Get instruments cryptocurrencies symbol
      x-summary-source: derived
  /instruments/equities:
    get:
      description: Returns a set of equity definitions given an array of one or more symbols
      parameters:
      - in: query
        name: page-offset
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: per-page
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      - in: query
        name: is-etf
        description: Flag indicating if equity is an etf instrument
        required: false
        schema:
          type: boolean
      - in: query
        name: is-index
        description: Flag indicating if equity is an index instrument
        required: false
        schema:
          type: boolean
      - in: query
        name: lendability
        description: Lendability
        required: false
        schema:
          type: string
          enum:
          - Easy To Borrow
          - Locate Required
          - Preborrow
      - in: query
        name: symbol
        description: 'The symbol of the equity(s), i.e `AAPL` (example: symbol[]={value1}&symbol[]={value2})'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Returns a set of equity definitions given an array of one or more symbols
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equity'
      tags:
      - Instruments
      operationId: getInstrumentsEquities
      summary: Get instruments equities
      x-summary-source: derived
  /instruments/equities/active:
    get:
      description: Returns all active equities in a paginated fashion
      parameters:
      - in: query
        name: page-offset
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: per-page
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 5000
          minimum: 1
      - in: query
        name: lendability
        description: Lendability. i.e. `Easy To Borrow`, `Locate Required` or `Preborrow`
        required: false
        schema:
          type: string
          enum:
          - Easy To Borrow
          - Locate Required
          - Preborrow
      responses:
        '200':
          description: Returns all active equities in a paginated fashion
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Equity'
      tags:
      - Instruments
      operationId: getInstrumentsEquitiesActive
      summary: Get instruments equities active
      x-summary-source: derived
  /instruments/equities/{symbol}:
    get:
      description: Returns a single equity definition for the provided symbol
      parameters:
      - in: path
        name: symbol
        description: The symbol of the equity, i.e. `AAPL`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns a single equity definition for the provided symbol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Equity'
      tags:
      - Instruments
      operationId: getInstrumentsEquitiesSymbol
      summary: Get instruments equities symbol
      x-summary-source: derived
  /instruments/equity-options/{symbol}:
    get:
      description: Get equity option by symbol
      parameters:
      - in: path
        name: symbol
        description: The symbol of the equity option using OCC Symbology, i.e. `FB    180629C00200000`
        required: true
        schema:
          type: string
      - in: query
        name: active
        description: "Whether an option is available for trading with the broker.\n                   Terminology is somewhat misleading as this is generally used to filter non-standard / flex options out."
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Get equity option by symbol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquityOption'
      tags:
      - Instruments
      operationId: getInstrumentsEquityOptionsSymbol
      summary: Get instruments equity options symbol
      x-summary-source: derived
  /instruments/future-option-products:
    get:
      description: Returns metadata for all supported future option products
      parameters:
      - in: query
        name: page-offset
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: per-page
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: Returns metadata for all supported future option products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureOptionProduct'
      tags:
      - Instruments
      operationId: getInstrumentsFutureOptionProducts
      summary: Get instruments future option products
      x-summary-source: derived
  /instruments/future-option-products/{exchange}/{root_symbol}:
    get:
      description: Get a future option product by exchange and root symbol
      parameters:
      - in: path
        name: exchange
        required: true
        schema:
          type: string
      - in: path
        name: root_symbol
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get a future option product by exchange and root symbol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureOptionProduct'
      tags:
      - Instruments
      operationId: getInstrumentsFutureOptionProductsExchangeRootSymbol
      summary: Get instruments future option products exchange root symbol
      x-summary-source: derived
  /instruments/future-option-products/{root_symbol}:
    get:
      description: Get a future option product by root symbol
      parameters:
      - in: path
        name: root_symbol
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get a future option product by root symbol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureOptionProduct'
      tags:
      - Instruments
      operationId: getInstrumentsFutureOptionProductsRootSymbol
      deprecated: true
      summary: Get instruments future option products root symbol
      x-summary-source: derived
  /instruments/future-options/{symbol}:
    get:
      description: 'Returns a future option given a symbol. Uses TW symbology: `./ESZ9 EW4U9 190927P2975`'
      parameters:
      - in: path
        name: symbol
        description: The symbol of the future option
        required: true
        schema:
          type: string
      responses:
        '200':
          description: 'Returns a future option given a symbol. Uses TW symbology: `./ESZ9 EW4U9 190927P2975`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureOption'
      tags:
      - Instruments
      operationId: getInstrumentsFutureOptionsSymbol
      summary: Get instruments future options symbol
      x-summary-source: derived
  /instruments/future-products:
    get:
      description: Returns metadata for all supported futures products
      parameters:
      - in: query
        name: page-offset
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: per-page
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: Returns metadata for all supported futures products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FutureProduct'
      tags:
      - Instruments
      operationId: getInstrumentsFutureProducts
      summary: Get instruments future products
      x-summary-source: derived
  /instruments/future-products/{exchange}/{code}:
    get:
      description: Get future product from exchange and product code
      parameters:
      - in: path
        name: exchange
        description: The exchange code
        required: true
        schema:
          type: string
          enum:
          - CBOED
          - CFE
          - CME
          - SMALLS
      - in: path
        name: code
        description: The product code, i.e. `ES`
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get future product from exchange and product code
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FutureProduct'
      tags:
      - Instruments
      operationId: getInstrumentsFutureProductsExchangeCode
      summary: Get instruments future products exchange code
      x-summary-source: derived
  /instruments/futures:
    get:
      description: Returns a set of outright futures given an array of one or more symbols.
      parameters:
      - in: query
        name: page-offset
        required: false
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: per-page
        required: false
        schema:
          type: integer
          format: int32
          default: 1000
          maximum: 1000
          minimum: 1
      - in: query
        name: exchange
        description: Name of the exchange for the product. Only used to avoid security id collisions if that is also given.
        required: false
        schema:
          type: string
      - in: query
        name: only-active-futures
        description: If true (defaults to true), only active futures are returned.
        required: false
        schema:
          type: boolean
      - in: query
        name: product-code
        description: "The product code of the future(s), i.e. `product-code[]=ES&product-code[]=6A`. \\\n                Ignored if `symbol` parameter is given. (example: product-code[]={value1}&product-code[]={value2})"
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: security-id
        description: 'Exchange-specific ID used for order routing (example: security-id[]={value1}&security-id[]={value2})'
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: symbol
        description: 'The symbol of the future(s), i.e. `symbol[]=ESZ9`. Leading forward slash is not required. (example: symbol[]={value1}&symbol[]={value2})'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Returns a set of outright futures given an array of one or more symbols.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Future'
      tags:
      - Instruments
      operationId: getInstrumentsFutures
      summary: Get instruments futures
      x-summary-source: derived
  /instruments/futures/{symbol}:
    get:
      description: Returns an outright future given a symbol.
      parameters:
      - in: path
        name: symbol
        description: The symbol of the future, i.e. `ESZ9`. Leading forward slash is not required.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns an outright future given a symbol.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Future'
      tags:
      - Instruments
      operationId: getInstrumentsFuturesSymbol
      summary: Get instruments futures symbol
      x-summary-source: derived
  /instruments/quantity-decimal-precisions:
    get:
      description: Retrieve all quantity decimal precisions.
      responses:
        '200':
          description: Retrieve all quantity decimal precisions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuantityDecimalPrecision'
      tags:
      - Instruments
      operationId: getInstrumentsQuantityDecimalPrecisions
      summary: Get instruments quantity decimal precisions
      x-summary-source: derived
  /instruments/search:
    get:
      description: Search instruments by symbol, description, or tags
      parameters:
      - in: query
        name: category
        description: Comma-separated categories to filter (case-insensitive)
        required: false
        schema:
          type: string
      - in: query
        name: exchange
        description: Comma-separated exchanges to filter (case-insensitive)
        required: false
        schema:
          type: string
      - in: query
        name: from-date
        description: Lower bound on stops_trading_at; surfaces expired events that stopped trading on/after this date
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: limit
        description: Maximum number of results
        required: false
        schema:
          type: integer
          format: int32
          default: 25
          maximum: 100
          minimum: 1
      - in: query
        name: query
        description: Search query
        required: false
        schema:
          type: string
      - in: query
        name: type
        description: Comma-separated instrument types to filter
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Search instruments by symbol, description, or tags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchableInstrumentDeserializer'
      tags:
      - Instruments
      operationId: getInstrumentsSearch
      summary: Get instruments search
      x-summary-source: derived
  /instruments/warrants:
    get:
      description: Returns a set of warrant definitions that can be filtered by parameters
      parameters:
      - in: query
        name: symbol
        description: 'The symbol of the warrant(s), i.e `NKLAW` (example: symbol[]={value1}&symbol[]={value2})'
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Returns a set of warrant definitions that can be filtered by parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Warrant'
      tags:
      - Instruments
      operationId: getInstrumentsWarrants
      summary: Get instruments warrants
      x-summary-source: derived
  /instruments/warrants/{symbol}:
    get:
      description: Returns a single warrant definition for the provided symbol
      parameters:
      - in: path
        name: symbol
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns a single warrant definition for the provided symbol
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Warrant'
      tags:
      - Instruments
      operationId: getInstrumentsWarrantsSymbol
      summary: Get instruments warrants symbol
      x-summary-source: derived
components:
  schemas:
    Warrant:
      type: object
      properties:
        active:
          description: ''
          type: boolean
        cusip:
          description: ''
          type: string
        description:
          description: ''
          type: string
        instrument-type:
          description: ''
          type: string
        is-closing-only:
          description: ''
          type: boolean
        listed-market:
          description: ''
          type: string
        symbol:
          description: ''
          type: string
      description: Warrant model
    QuantityDecimalPrecision:
      type: object
      properties:
        instrument-type:
          description: ''
          type: string
        minimum-increment-precision:
          description: ''
          type: integer
          format: int32
        symbol:
          description: ''
          type: string
        value:
          description: ''
          type: integer
          format: int32
      description: QuantityDecimalPrecision model
    Equity:
      type: object
      properties:
        active:
          description: ''
          type: boolean
        borrow-rate:
          description: ''
          type: number
          format: double
        bypass-manual-review:
          description: ''
          type: boolean
        country-of-incorporation:
          description: ''
          type: string
        country-of-taxation:
          description: ''
          type: string
        description:
          description: ''
          type: string
        halted-at:
          description: ''
          type: string
          format: date-time
        instrument-sub-type:
          description: ''
          type: string
        instrument-type:
          description: ''
          type: string
        is-closing-only:
          description: ''
          type: boolean
        is-etf:
          description: ''
          type: boolean
        is-fractional-quantity-eligible:
          description: ''
          type: boolean
        is-illiquid:
          description: ''
          type: boolean
        is-index:
          description: ''
          type: boolean
        is-options-closing-only:
          description: ''
          type: boolean
        lendability:
          description: ''
          type: string
        listed-market:
          description: ''
          type: string
        market-time-instrument-collection:
          description: ''
          type: string
        overnight-trading-permitted:
          description: ''
          type: boolean
        short-description:
          description: ''
          type: string
        stops-trading-at:
          description: ''
          type: string
          format: date-time
        streamer-symbol:
          description: ''
          type: string
        symbol:
          description: ''
          type: string
        underlying-product-type:
          description: ''
          type: string
        option-tick-sizes:
          description: ''
          type: object
          properties:
            symbol:
              description: ''
              type: string
            threshold:
              description: ''
              type: number
              format: double
            value:
              description: ''
              type: number
              format: double
        tick-sizes:
          description: ''
          type: object
          properties:
            symbol:
              description: ''
              type: string
            threshold:
              description: ''
              type: number
              format: double
            value:
              description: ''
              type: number
              format: double
      description: Equity model
    FutureOption:
      type: object
      properties:
        active:
          description: ''
          type: boolean
        days-to-expiration:
          description: ''
          type: integer
          format: int32
        display-factor:
          description: ''
          type: number
          format: double
        exchange:
          description: ''
          type: string
        exercise-style:
          description: ''
          type: string
        expiration-date:
          description: ''
          type: string
          format: date
        expires-at:
          description: ''
          type: string
          format: date-time
        future-price-ratio:
          description: ''
          type: number
          format: double
        is-closing-only:
          description: ''
          type: boolean
        is-confirmed:
          description: ''
          type: boolean
        is-exercisable-weekly:
          description: ''
          type: boolean
        is-primary-deliverable:
          description: ''
          type: boolean
        is-vanilla:
          description: ''
          type: boolean
        last-trade-time:
          description: ''
          type: string
        maturity-date:
          description: ''
          type: string
          format: date
        multiplier:
          description: ''
          type: number
          format: double
        notional-value:
          description: ''
          type: number
          format: double
        option-root-symbol:
          description: ''
          type: string
        option-type:
          description: ''
          type: string
        product-code:
          description: ''
          type: string
        root-symbol:
          description: ''
          type: string
        security-id:
          description: ''
          type: string
        settlement-type:
          description: ''
          type: string
        stops-trading-at:
          description: ''
          type: string
          format: date-time
        streamer-symbol:
          description: ''
          type: string
        strike-factor:
          description: ''
          type: number
          format: double
        strike-price:
          description: ''
          type: number
          format: double
        symbol:
          description: ''
          type: string
        underlying-count:
          description: ''
          type: number
          format: double
        underlying-symbol:
          description: ''
          type: string
        future-option-product:
          description: ''
          type: object
          properties:
            cash-settled:
              description: ''
              type: boolean
            code:
              description: ''
              type: string
            display-factor:
              description: ''
              type: number
              format: double
            exchange:
              description: ''
              type: string
            expiration-type:
              description: ''
              type: string
            is-am-settled:
              description: ''
              type: boolean
            itm-rule:
              description: ''
              type: string
            market-sector:
              description: ''
              type: string
            product-subtype:
              description: ''
              type: string
            product-type:
              description: ''
              type: string
            root-symbol:
              description: ''
              type: string
            settlement-delay-days:
              description: ''
              type: integer
              format: int32
            supported:
              description: ''
              type: boolean
      description: FutureOption model
    FutureOptionProduct:
      type: object
      properties:
        cash-settled:
          description: ''
          type: boolean
        code:
          description: ''
          type: string
        display-factor:
          description: ''
          type: number
          format: double
        exchange:
          description: ''
          type: string
        expiration-type:
          description: ''
          type: string
        is-am-settled:
          description: ''
          type: boolean
        itm-rule:
          description: ''
          type: string
        market-sector:
          description: ''
          type: string
        product-subtype:
          description: ''
          type: string
        product-type:
          description: ''
          type: string
        root-symbol:
          description: ''
          type: string
        settlement-delay-days:
          description: ''
          type: integer
          format: int32
        supported:
          description: ''
          type: boolean
      description: FutureOptionProduct model
    SearchableInstrumentDeserializer:
      type: object
      properties:
        category:
          description: ''
          type: string
        description:
          description: ''
          type: string
        event-product-external-id:
          description: ''
          type: string
        exchange:
          description: ''
          type: string
        external-id:
          description: ''
          type: string
        instrument-type:
          description: ''
          type: string
        stops-trading-at:
          description: ''
          type: string
          format: date-time
        symbol:
          description: ''
          type: string
        underlying-product:
          description: ''
          type: string
        underlying-product-type:
          description: ''
          type: string
      description: SearchableInstrumentDeserializer model
    EquityOption:
      type: object
      properties:
        active:
          description: ''
          type: boolean
        days-to-expiration:
          description: ''
          type: integer
          format: int32
        exercise-style:
          description: ''
          type: string
        expiration-date:
          description: ''
          type: string
          format: date
        expiration-type:
          description: ''
          type: string
        expires-at:
          description: ''
          type: string
          format: date-time
        halted-at:
          description: ''
          type: string
          format: date-time
        instrument-type:
          description: ''
          type: string
        is-closing-only:
          description: ''
          type: boolean
        listed-market:
          description: ''
          type: string
        market-time-instrument-collection:
          description: ''
          type: string
        old-security-number:
          description: ''
          type: string
        option-chain-type:
          description: ''
          type: string
        option-type:
          description: ''
          type: string
        root-symbol:
          description: ''
          type: string
        settlement-type:
          description: ''
          type: string
        shares-per-contract:
          description: ''
          type: integer
          format: int32
        stops-trading-at:
          description: ''
          type: string
          format: date-time
        streamer-symbol:
          description: ''
          type: string
        strike-price:
          description: ''
          type: number
          format: double
        symbol:
          description: ''
          type: string
        underlying-symbol:
          description: ''
          type: string
      description: EquityOption model
    Cryptocurrency:
      type: object
      properties:
        id:
          description: ''
          type: integer
          format: int32
        active:
          description: ''
          type: boolean
        description:
          description: ''
          type: string
        instrument-type:
          description: ''
          type: string
        is-closing-only:
          description: ''
          type: boolean
        short-description:
          description: ''
          type: string
        streamer-symbol:
          description: ''
          type: string
        symbol:
          description: ''
          type: string
        tick-size:
          description: ''
          type: number
          format: double
      description: Cryptocurrency model
    FutureProduct:
      type: object
      properties:
        active-months:
          description: ''
          type: string
        back-month-first-calendar-symbol:
          description: ''
          type: boolean
        base-tick:
          description: ''
          type: integer
          format: int32
        cash-settled:
          description: ''
          type: boolean
        code:
          description: ''
          type: string
        contract-limit:
          description: ''
          type: integer
          format: int32
        description:
          description: ''
          type: string
        display-factor:
          description: ''
          type: number
          format: double
        exchange:
          description: ''
          type: string
        first-notice:
          description: ''
          type: boolean
        listed-months:
          description: ''
          type: string
        market-sector:
          description: ''
          type: string
        notional-multiplier:
          description: ''
          type: number
          format: double
        price-format:
          description: ''
          type: string
        product-subtype:
          description: ''
          type: string
        product-type:
          description: ''
          type: string
        security-group:
          description: ''
          type: string
        small-notional:
          description: ''
          type: boolean
        streamer-exchange-code:
          description: ''
          type: string
        sub-tick:
          description: ''
          type: integer
          format: int32
        supported:
          description: ''
          type: boolean
        root-symbol:
          description: ''
          type: string
        tick-size:
          description: ''
          type: number
          format: double
        true-underlying-code:
          description: ''
          type: string
        underlying-description:
          description: ''
          type: string
        underlying-identifier:
          description: ''
          type: string
      description: FutureProduct model
    Future:
      type: object
      properties:
        active:
          description: ''
          type: boolean
        active-month:
          description: ''
          type: boolean
        back-month-first-calendar-symbol:
          description: ''
          type: boolean
        closing-only-date:
          description: ''
          type: string
          format: date
        contract-size:
          description: ''
          type: number
          format: double
        display-factor:
          description: ''
          type: number
          format: double
        exchange:
          description: ''
          type: string
        exchange-data:
          description: ''
          type: object
        expiration-date:
          description: ''
          type: string
          format: date
        expires-at:
          description: ''
          type: string
          format: date-time
        first-notice-date:
          description: ''
          type: string
          format: date
        product-group:
          description: ''
          type: string
        is-closing-only:
          description: ''
          type: boolean
        last-trade-date:
          description: ''
          type: string
          format: date
        main-fraction:
          description: ''
          type: number
          format: double
        next-active-month:
          description: ''
          type: boolean
        notional-multiplier:
          description: ''
          type: number
          format: double
        product-code:
          description: ''
          type: string
        roll-target-symbol:
          description: ''
          type: string
        security-id:
          description: ''
          type: string
        stops-trading-at:
          description: ''
          type: string
          format: date-time
        streamer-exchange-code:
          description: ''
          type: string
        streamer-symbol:
          description: ''
          type: string
        sub-fraction:
          description: ''
          type: number
          format: double
        symbol:
          description: ''
          type: string
        tick-size:
          description: ''
          type: number
          format: double
        is-tradeable:
          description: ''
          type: boolean
        true-underlying-symbol:
          description: ''
          type: string
        future-etf-equivalent:
          description: ''
          type: object
          properties:
            share-quantity:
              description: ''
              type: integer
              format: int32
            symbol:
              description: ''
              type: string
        future-product:
          description: ''
          type: object
          properties:
            active-months:
              description: ''
              type: string
            back-month-first-calendar-symbol:
              description: ''
              type: boolean
            base-tick:
              description: ''
              type: integer
              format: int32
            cash-settled:
              description: ''
              type: boolean
            code:
              description: ''
              type: string
            contract-limit:
              description: ''
              type: integer
              format: int32
            description:
              description: ''
              type: string
            display-factor:
              description: ''
              type: number
              format: double
            exchange:
              description: ''
              type: string
            first-notice:
              description: ''
              type: boolean
            listed-months:
              description: ''
              type: string
            market-sector:
              description: ''
              type: string
            notional-multiplier:
              description: ''
              type: number
              format: double
            price-format:
              description: ''
              type: string
            product-subtype:
              description: ''
              type: string
            product-type:
              description: ''
              type: string
            security-group:
              description: ''
              type: string
            small-notional:
              description: ''
              type: boolean
            streamer-exchange-code:
              description: ''
              type: string
            sub-tick:
              description: ''
              type: integer
              format: int32
            supported:
              description: ''
              type: boolean
            root-symbol:
              description: ''
              type: string
            tick-size:
              description: ''
              type: number
              format: double
            true-underlying-code:
              description: ''
              type: string
            underlying-description:
              description: ''
              type: string
            underlying-identifier:
              description: ''
              type: string
        option-tick-sizes:
          description: ''
          type: object
          properties:
            symbol:
              description: ''
              type: string
            threshold:
              description: ''
              type: number
              format: double
            value:
              description: ''
              type: number
              format: double
        spread-tick-sizes:
          description: ''
          type: object
          properties:
            symbol:
              description: ''
              type: string
            threshold:
              description: ''
              type: number
              format: double
            value:
              description: ''
              type: number
              format: double
        tick-sizes:
          description: ''
          type: object
          properties:
            symbol:
              description: ''
              type: string
            threshold:
              description: ''
              type: number
              format: double
            value:
              description: ''
              type: number
              format: double
      description: Future model
