{
  "info": {
    "title": "Quote Alerts",
    "version": "1.23.2"
  },
  "swagger": "2.0",
  "produces": [
    "application/json"
  ],
  "host": "api.tastyworks.com",
  "tags": [
    {
      "name": "quote-alerts",
      "description": "Operations about quote-alerts"
    }
  ],
  "paths": {
    "/quote-alerts": {
      "get": {
        "description": "Get quote alerts for current user",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get quote alerts for current user",
            "schema": {
              "$ref": "#/definitions/QuoteAlertDeserializer"
            }
          }
        },
        "tags": [
          "quote-alerts"
        ],
        "operationId": "getQuoteAlerts"
      },
      "post": {
        "description": "Create quote alert for symbol",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postQuoteAlerts",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postQuoteAlerts"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create quote alert for symbol",
            "schema": {
              "$ref": "#/definitions/QuoteAlertDeserializer"
            }
          }
        },
        "tags": [
          "quote-alerts"
        ],
        "operationId": "postQuoteAlerts"
      }
    },
    "/quote-alerts/{alert_external_id}": {
      "delete": {
        "description": "Cancel a quote alert for current user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "alert_external_id",
            "type": "integer",
            "format": "int32",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Cancel a quote alert for current user"
          }
        },
        "tags": [
          "quote-alerts"
        ],
        "operationId": "deleteQuoteAlertsAlertExternalId"
      }
    }
  },
  "definitions": {
    "postQuoteAlerts": {
      "type": "object",
      "properties": {
        "dx-symbol": {
          "type": "string"
        },
        "expires-at": {
          "type": "string"
        },
        "field": {
          "type": "string",
          "enum": [
            "Last",
            "Bid",
            "Ask",
            "IV"
          ]
        },
        "instrument-type": {
          "type": "string"
        },
        "operator": {
          "type": "string",
          "enum": [
            ">",
            "<"
          ]
        },
        "symbol": {
          "type": "string"
        },
        "threshold": {
          "type": "string"
        },
        "threshold-numeric": {
          "type": "string"
        }
      },
      "required": [
        "field",
        "operator",
        "symbol",
        "threshold"
      ],
      "description": "Create quote alert for symbol"
    },
    "QuoteAlertDeserializer": {
      "type": "object",
      "properties": {
        "alert-external-id": {
          "description": "",
          "type": "string"
        },
        "completed-at": {
          "description": "",
          "type": "string",
          "format": "date-time"
        },
        "created-at": {
          "description": "",
          "type": "string",
          "format": "date-time"
        },
        "dismissed-at": {
          "description": "",
          "type": "string",
          "format": "date-time"
        },
        "dx-symbol": {
          "description": "",
          "type": "string"
        },
        "expired-at": {
          "description": "",
          "type": "string",
          "format": "date-time"
        },
        "expires-at": {
          "description": "",
          "type": "string"
        },
        "field": {
          "description": "",
          "type": "string"
        },
        "instrument-type": {
          "description": "",
          "type": "string"
        },
        "operator": {
          "description": "",
          "type": "string"
        },
        "provider": {
          "description": "",
          "type": "string"
        },
        "symbol": {
          "description": "",
          "type": "string"
        },
        "threshold": {
          "description": "",
          "type": "string"
        },
        "threshold-numeric": {
          "description": "",
          "type": "number",
          "format": "double"
        },
        "triggered-at": {
          "description": "",
          "type": "string",
          "format": "date-time"
        },
        "user-external-id": {
          "description": "",
          "type": "string"
        }
      },
      "description": "QuoteAlertDeserializer model"
    }
  }
}
